<nav id="navbar" class="navbar navbar-expand-md fixed-top navbar-dark" style="transition: all 500ms ease;">
  <a class="navbar-brand">Marca</a>
  <div
    class="hamburger hamburger--squeeze navbar-toggler"
    data-target="#navegacion"
    data-toggle="collapse"
    aria-controls="navegacion"
    aria-expanded="false"
    aria-label="Menu">
    <div class="hamburger-box">
      <span class="hamburger-inner"></span>
    </div>
  </div>

  <div id="navegacion" class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Nuestro equipo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contactenos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Servicios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Transportes</a>
      </li>
    </ul>
  </div>
</nav>

<section id="hero">
  <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active" style="background-image: linear-gradient(0deg, rgba(255,255,255,0) 5%, rgba(0,0,0, 0.75) 30%), url(https://picsum.photos/id/237/1500/1000);">
        <div class="carousel-caption d-none d-md-block">
          <h5>Title</h5>
          <p>Text</p>
        </div>
      </div>
      <div class="carousel-item" style="background-image: linear-gradient(0deg, rgba(255,255,255,0) 5%, rgba(0,0,0, 0.75) 30%), url(https://picsum.photos/id/235/1500/1000);">
        <div class="carousel-caption d-none d-md-block">
          <h5>Title</h5>
          <p>Text</p>
        </div>
      </div>
      <div class="carousel-item" style="background-image: linear-gradient(0deg, rgba(255,255,255,0) 5%, rgba(0,0,0, 0.75) 30%), url(https://picsum.photos/id/231/1500/1000);">
        <div class="carousel-caption d-none d-md-block">
          <h5>Title</h5>
          <p>Text</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Siguiente</span>
    </a>
  </div>
</section>

<section class="container">
  <button type="button" class="btn btn-primary">Mi btn</button>
  <button type="button" class="btn btn-danger">Mi btn</button>
  <button type="button" class="btn btn-warning">Mi btn</button>
  <button type="button" class="btn btn-info">Mi btn</button>
  <i class="ion-md-wifi"></i>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis dolorum, expedita veritatis aliquam quod quae vero in, tempore ea illo qui dolorem hic obcaecati ex cupiditate culpa, voluptatibus esse architecto animi necessitatibus officia unde quia provident. A iste voluptate, pariatur commodi officiis porro quibusdam voluptatum dolore beatae facilis odit incidunt.</p>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi et dignissimos earum totam eius quidem rerum voluptatibus explicabo libero fuga sit molestiae ab, non ea, magnam ipsa! Eos fugit perferendis autem quis ab nobis odio ipsa sunt, aperiam saepe natus?</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem eligendi dignissimos dolore et reiciendis excepturi culpa quisquam tempore veniam. Hic blanditiis iste accusantium, nulla, laborum perferendis ipsa dolorem distinctio, repudiandae ratione deleniti tempore possimus ad eligendi fuga ipsum quo cum eveniet fugiat consequatur minima nemo saepe maiores. Sequi eligendi dolores sit praesentium nemo eaque minus?</p>
</section>

<footer class="home-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <h5>Title</h5>
        <ul>
          <li>Lorem, ipsum dolor.</li>
          <li>Lorem, ipsum.</li>
          <li>Lorem ipsum dolor sit amet.</li>
          <li>Lorem, ipsum.</li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <h5>Lorem, ipsum.</h5>
        <ul>
          <li>Lorem ipsum dolor sit.</li>
          <li>Lorem, ipsum dolor.</li>
          <li>Lorem, ipsum dolor.</li>
          <li>Lorem ipsum dolor sit amet.</li>
          <li>Lorem, ipsum dolor.</li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <h5>Lorem, ipsum.</h5>
        <ul>
          <li>Lorem ipsum dolor sit.</li>
          <li>Lorem, ipsum dolor.</li>
          <li>Lorem, ipsum dolor.</li>
          <li>Lorem ipsum dolor sit amet.</li>
          <li>Lorem, ipsum dolor.</li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <h5>Lorem, ipsum.</h5>
        <ul>
          <li>Lorem ipsum dolor sit.</li>
          <li>Lorem, ipsum dolor.</li>
          <li>Lorem, ipsum dolor.</li>
          <li>Lorem ipsum dolor sit amet.</li>
          <li>Lorem, ipsum dolor.</li>
        </ul>
      </div>
    </div>
    <hr class="bg-secondary">
    <div class="w-md-75 text-md-center">
      <p class="opacity-sm">Copy right 2020</p>
      <p class="opacity-sm small">When you visit or interact with our sites, services or tools, we or our authorised service providers may use cookies for storing information to help provide you with a better, faster and safer experience and for marketing purposes.</p>
    </div>
  </div>
</footer>
