<header id="top" class="py-1 border-bottom bg-light text-black-50">
  <div class="container-fluid d-flex">
    <div class="mr-auto">
      <i class="fas fa-phone fa-fw"></i> 984654564 &nbsp;
      <i class="fas fa-envelope fa-fw"></i> mail@mail.com
    </div>
    <div class="ml-auto">
      <a routerLink="/login">
        <i class="fas fa-key fa-fw text-black-50"></i>
      </a>
    </div>
  </div>
</header>
<nav id="navbar" class="navbar navbar-expand-lg sticky-top navbar-light bg-light shadow py-4" style="transition: all 500ms ease;">
  <a class="navbar-brand">Marca</a>
  <button
    type="button"
    class="hamburger hamburger--squeeze navbar-toggler border-0"
    data-target="#navegacion"
    data-toggle="collapse"
    aria-controls="navegacion"
    aria-expanded="false"
    aria-label="Menu">
    <div class="hamburger-box">
      <span class="hamburger-inner"></span>
    </div>
  </button>

  <div id="navegacion" class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a [ngxScrollTo]="'#top'" class="nav-link" href="javascript:void(0)">Inicio</a>
      </li>
      <li class="nav-item">
        <a [ngxScrollTo]="'#nosotros'"  class="nav-link" href="javascript:void(0)">Sobre nosotros</a>
      </li>
      <li class="nav-item">
        <a [ngxScrollTo]="'#equipo'" class="nav-link" href="javascript:void(0)">Nuestro equipo</a>
      </li>
      <li class="nav-item">
        <a [ngxScrollTo]="'#contacto'" class="nav-link" href="javascript:void(0)">Contactenos</a>
      </li>
    </ul>
  </div>
</nav>

<section id="hero">
  <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active" style="background-image: url(https://via.placeholder.com/1500x1000?text=Imagen+1);">
        <div class="carousel-caption d-flex align-content-center justify-content-center flex-wrap h-100">
          <div class="content animated fadeInUp fast">
            <h1 class="display-3">Title</h1>
            <h5>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi, eos!</h5>
          </div>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url(https://via.placeholder.com/1500x1000?text=Imagen+2);">
        <div class="carousel-caption d-flex align-content-center justify-content-center flex-wrap h-100">
          <div class="content animated fadeInUp fast" data-aos="zoom-in">
            <h1 class="display-3">Title</h1>
            <h5>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi, eos!</h5>
          </div>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url(https://via.placeholder.com/1500x1000?text=Imagen+3);">
        <div class="carousel-caption d-flex align-content-center justify-content-center flex-wrap h-100">
          <div class="content animated fadeInUp fast">
            <h1 class="display-3">Title</h1>
            <h5>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi, eos!</h5>
          </div>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url(https://via.placeholder.com/1500x1000?text=Imagen+4);">
        <div class="carousel-caption d-flex align-content-center justify-content-center flex-wrap h-100">
          <div class="content animated fadeInUp fast" data-aos="zoom-in">
            <h1 class="display-3">Title</h1>
            <h5>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora amet veritatis alias molestias neque nesciunt, dolorem doloremque velit sunt at.</h5>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Siguiente</span>
    </a>
  </div>
</section>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h4 class="display-4">Fluid jumbo heading</h4>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
    </p>
  </div>
</div>

<section class="my-4" >
  <div class="container">
    <div id="nosotros" class="text-center" data-aos="zoom-out-down" data-aos-anchor-placement="center-bottom">
      <h2>Sobre nosotros</h2>
    </div>
    <div class="row">
      <div class="col-md-6" data-aos="zoom-in-up" data-aos-anchor-placement="center-bottom">
        <img src="https://via.placeholder.com/800x500" alt="" class="w-100">
      </div>
      <div class="col-md-6">
        <mat-accordion>
          <mat-expansion-panel data-aos="fade-up" data-aos-anchor-placement="center-bottom">
            <mat-expansion-panel-header>
              <mat-panel-description>
                <h5>Mision</h5>
              </mat-panel-description>
            </mat-expansion-panel-header>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem at mollitia omnis quae cupiditate minus qui distinctio autem sapiente quis, iste harum adipisci, ea animi asperiores delectus laudantium, recusandae fugit deserunt. Nemo omnis atque officia eius sint? Fuga, est dicta!
          </mat-expansion-panel>
          <mat-expansion-panel data-aos="fade-up" data-aos-anchor-placement="center-bottom">
            <mat-expansion-panel-header>
              <mat-panel-description>
                <h5>Vision</h5>
              </mat-panel-description>
            </mat-expansion-panel-header>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut autem rem illum amet debitis, soluta eos hic. Adipisci corrupti voluptas, qui fugit autem modi accusantium molestias rerum architecto officia sit? Ex exercitationem quod possimus eius laudantium reiciendis. Optio, sint quasi a praesentium quam commodi nobis beatae eaque nesciunt inventore sit, eum reprehenderit ullam, voluptatem unde quos doloremque fuga maiores minus.
          </mat-expansion-panel>
          <mat-expansion-panel data-aos="fade-up" data-aos-anchor-placement="center-bottom">
            <mat-expansion-panel-header>
              <mat-panel-description>
                <h5>Valores</h5>
              </mat-panel-description>
            </mat-expansion-panel-header>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam voluptate corporis saepe veritatis, iusto voluptatem voluptates minus aperiam delectus voluptas, eum deserunt quibusdam doloribus consequuntur soluta? Sint ratione, repellendus quos eum commodi veritatis voluptate, delectus ipsa exercitationem amet ipsam placeat. Repellendus impedit aperiam nobis. Minus, nulla temporibus. Quasi natus numquam architecto quibusdam dolor quas voluptatem.
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
</section>

<section class="my-4">
  <div class="container">
    <div id="equipo" class="text-center" data-aos="zoom-out-down" data-aos-anchor-placement="center-bottom">
      <h2>Nuestro equipo</h2>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6 mb-3" data-aos="zoom-in-down" data-aos-anchor-placement="top-bottom">
        <div class="card border-light shadow">
          <img class="card-img-top" src="https://via.placeholder.com/800x750" alt="">
          <div class="card-body">
            <h5 class="card-title">Title</h5>
            <p class="card-text">Content</p>
          </div>
          <div class="card-footer text-center" style="font-size: 20px;">
            <a href="http://" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter-square fa-lg fa-fw"></i></a>
            <a href="http://" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-square fa-lg fa-fw"></i></a>
            <a href="http://" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram-square fa-lg fa-fw"></i></a>
            <a href="http://" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin fa-lg fa-fw"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-3" data-aos="zoom-in-down" data-aos-anchor-placement="top-bottom">
        <div class="card border-light shadow">
          <img class="card-img-top" src="https://via.placeholder.com/800x750" alt="">
          <div class="card-body">
            <h5 class="card-title">Title</h5>
            <p class="card-text">Content</p>
          </div>
          <div class="card-footer text-center" style="font-size: 20px;">
            <a href="http://" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter-square fa-lg fa-fw"></i></a>
            <a href="http://" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-square fa-lg fa-fw"></i></a>
            <a href="http://" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram-square fa-lg fa-fw"></i></a>
            <a href="http://" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin fa-lg fa-fw"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-3" data-aos="zoom-in-down" data-aos-anchor-placement="top-bottom">
        <div class="card border-light shadow">
          <img class="card-img-top" src="https://via.placeholder.com/800x750" alt="">
          <div class="card-body">
            <h5 class="card-title">Title</h5>
            <p class="card-text">Content</p>
          </div>
          <div class="card-footer text-center" style="font-size: 20px;">
            <a href="http://" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter-square fa-lg fa-fw"></i></a>
            <a href="http://" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-square fa-lg fa-fw"></i></a>
            <a href="http://" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram-square fa-lg fa-fw"></i></a>
            <a href="http://" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin fa-lg fa-fw"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="my-4">
  <div class="container">
    <div id="contacto" class="text-center" data-aos="zoom-out-down" data-aos-anchor-placement="center-bottom">
      <h2>Contactenos</h2>
    </div>
    <div class="row">
      <div class="col-lg-5 col-md-6 mb-3" data-aos="zoom-in" data-aos-anchor-placement="top-bottom">
        <div class="card">
          <div class="card-body">
            <mat-list>
              <mat-list-item>
                <mat-icon mat-list-icon class="ion-ios-pin"></mat-icon>
                <div mat-line>Direccion</div>
                <div mat-line>asdasd</div>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <mat-icon mat-list-icon class="ion-ios-call"></mat-icon>
                <div mat-line>Phone</div>
                <div mat-line>999-999-99-99</div>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <mat-icon mat-list-icon class="ion-ios-mail"></mat-icon>
                <div mat-line>Email</div>
                <div mat-line>demo@demo.com</div>
              </mat-list-item>
            </mat-list>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15313.92499551788!2d-98.0593287751465!3d16.349429309376415!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85b7e195a2df9703%3A0xe3d3488063f11f4a!2sCentral%20de%20Autobuses!5e0!3m2!1ses-419!2smx!4v1587682424852!5m2!1ses-419!2smx" width="100%" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-md-6 mb-3" data-aos="zoom-in" data-aos-anchor-placement="top-bottom">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Contactenos</h5>
            <form action="" autocomplete="off">
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Nombre</mat-label>
                    <input matInput>
                  </mat-form-field>
                </div>
                <div class="col-lg-6 col-md-6">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Correo</mat-label>
                    <input matInput>
                  </mat-form-field>
                </div>
              </div>
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Tema</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Mensaje</mat-label>
                <textarea matInput rows="11" placeholder="Escriba una breve descripcion!"></textarea>
              </mat-form-field>
              <button type="button" mat-raised-button color="primary" class="btn-block py-2">Enviar mensaje</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="bg-light text-secondary footer">
  <div class="container">
    <div class="row pt-5">
      <div class="col-lg-3 col-md-4 col-sm-6 py-3" data-aos="fade-up" data-aos-duration="500">
        <h5>Title</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item bg-transparent">Lorem, ipsum dolor.</li>
          <li class="list-group-item bg-transparent">Lorem, ipsum.</li>
          <li class="list-group-item bg-transparent">Lorem ipsum dolor sit amet.</li>
          <li class="list-group-item bg-transparent">Lorem ipsum dolor sit.</li>
          <li class="list-group-item bg-transparent">Lorem ipsum dolor sit amet.</li>
          <li class="list-group-item bg-transparent">Lorem, ipsum.</li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 py-3" data-aos="fade-up" data-aos-duration="800">
        <h5>Lorem, ipsum.</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item bg-transparent">Lorem, ipsum dolor.</li>
          <li class="list-group-item bg-transparent">Lorem, ipsum.</li>
          <li class="list-group-item bg-transparent">Lorem ipsum dolor sit amet.</li>
          <li class="list-group-item bg-transparent">Lorem ipsum dolor sit.</li>
          <li class="list-group-item bg-transparent">Lorem ipsum dolor sit amet.</li>
          <li class="list-group-item bg-transparent">Lorem, ipsum.</li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 py-3" data-aos="fade-up" data-aos-duration="1000">
        <h5>Lorem, ipsum.</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item bg-transparent">Lorem, ipsum dolor.</li>
          <li class="list-group-item bg-transparent">Lorem, ipsum.</li>
          <li class="list-group-item bg-transparent">Lorem ipsum dolor sit amet.</li>
          <li class="list-group-item bg-transparent">Lorem ipsum dolor sit.</li>
          <li class="list-group-item bg-transparent">Lorem ipsum dolor sit amet.</li>
          <li class="list-group-item bg-transparent">Lorem, ipsum.</li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 py-3" data-aos="fade-up" data-aos-duration="1200">
        <h5>Lorem, ipsum.</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item bg-transparent">Lorem, ipsum dolor.</li>
          <li class="list-group-item bg-transparent">Lorem, ipsum.</li>
          <li class="list-group-item bg-transparent">Lorem ipsum dolor sit amet.</li>
          <li class="list-group-item bg-transparent">Lorem ipsum dolor sit.</li>
          <li class="list-group-item bg-transparent">Lorem ipsum dolor sit amet.</li>
          <li class="list-group-item bg-transparent">Lorem, ipsum.</li>
        </ul>
      </div>
    </div>
    <ul class="nav justify-content-end mt-5">
        <li class="nav-item">
          <a class="text-secondary" href="#" target="_blank">
            <i class="fab fa-twitter-square fa-2x fa-fw"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="text-secondary" href="#" target="_blank">
            <i class="fab fa-facebook-square fa-2x fa-fw"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="text-secondary" href="#" target="_blank">
            <i class="fab fa-instagram-square fa-2x fa-fw"></i>
          </a>
        </li>
        <li class="nav-item dropdown">
          <div class="btn-group btn-group-sm">
            <button type="button" class="btn btn-secondary">
              <svg width="25" height="20"><use xlink:href="assets/sprites/flag.svg#cif-mx"></use></svg>
            </button>
            <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" id="ddLang" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
              <span class="sr-only">Idioma</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="ddLang">
              <a class="dropdown-item" href="#">
                <svg width="25" height="25"><use xlink:href="assets/sprites/flag.svg#cif-mx"></use></svg>
                Español
              </a>
              <a class="dropdown-item" href="#">
                <svg width="25" height="25"><use xlink:href="assets/sprites/flag.svg#cif-us"></use></svg>
                Ingles
              </a>
            </div>
          </div>
        </li>
    </ul>
    <hr />
    <div class="w-md-75 text-md-center" id="transportes">
      <p class="">Copy right 2020</p>
      <p class="pb-3 m-0 small">When you visit or interact with our sites, services or tools, we or our authorised service providers may use cookies for storing information to help provide you with a better, faster and safer experience and for marketing purposes.</p>
    </div>
  </div>
</footer>
