$hamburger-padding-x           : 100px;
$hamburger-padding-y           : 100px;
$hamburger-layer-width         : 25px;
$hamburger-layer-height        : 3px;
$hamburger-layer-spacing       : 5px;
$hamburger-layer-color         : #ddd;
$hamburger-layer-border-radius : 0px;
$hamburger-hover-opacity       : .90;
$hamburger-active-layer-color  : $hamburger-layer-color;
$hamburger-active-hover-opacity: $hamburger-hover-opacity;


$hamburger-hover-use-filter   : false;
$hamburger-hover-filter       : opacity(50%);
$hamburger-active-hover-filter: $hamburger-hover-filter;


.gradient {
  background-color: rgba($color: #343a40, $alpha: .85) !important;
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 95vh;
}
#hero .carousel-item {
  width: 100%;
  height: 95vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  // background-image: linear-gradient(0deg, rgba($color: red, $alpha: .25) 70%, rgba($color: blue,  $alpha: .25) 100%);
}

@media (min-width: 1024px) {
  #hero .carousel-content {
    width: 60%;
  }
  #hero .carousel-control-prev, #hero .carousel-control-next {
    width: 5%;
  }
}

@media (max-width: 992px) {
  #hero {
    height: calc(100vh - 72px);
  }
  #hero .carousel-item {
    height: calc(100vh - 72px);
  }
}


/*--------------------------------------------------------------
# Seccion de Footer
--------------------------------------------------------------*/

.home-footer {
background-color: #343a40;
padding: 1rem;
}

.home-footer > .container {
  color: #eee;
}

.home-footer > .container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
